@import ".meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic";
@import ".meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons";

.card {
  cursor: pointer;
}

.database-reset-button {
  border: solid 1px black;
  background-color: white;
  border-radius: 5px;
  padding: 1px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}

.float-bottom {
	position: absolute;
	bottom: 0;
}

.container {
	width: 95%;
  background-color: #EBEBEB;
}

.column {
	height: 40.0%;
  text-align: center;
}
.half-screen-left {
  width: 50.0%;
  float: left;
}
.half-screen-right {
  width: 50.0%;
  float: right;
}

.word-will-wrap {
	white-space: normal !important;
}

span.stars, span.stars span {
    display: block;
    background: url(stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.card-image {
  height: 300px;
  width: 100%;
}

.nav-bar-logo {
  height: 100%;
}

.item {
  background-color: #EBEBEB;
}

.overflow {
  background-color: #EBEBEB;
}

.bar {
  background-color: #FF6600 !important; 
}

.header-icon {
  color: white !important;
}

.title {
  text-align: center;
}

.timer {
  text-align: center;
  font-size: 30px;
}
